<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>522845471018-n54ae5inqq3qhtd2npt2snlugducjhp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522845471018-n54ae5inqq3qhtd2npt2snlugducjhp1</string>
	<key>API_KEY</key>
	<string>AIzaSyABz1qdqiZ-5Dyd2clA7b98cjmowJ_gkFg</string>
	<key>GCM_SENDER_ID</key>
	<string>522845471018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shawonashraf.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-bd524</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-bd524.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522845471018:ios:f02934371f8167cf</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-bd524.firebaseio.com</string>
</dict>
</plist>